.x-scale-values {
    font-size: 2em;
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
}

.scale-value {
    width: 2em;
    text-align: center;
}

.scale-first-value {
    width: 2em;
    text-align: left;
}

.scale-last-value {
    width: 2em;
    text-align: right;
}
