.scale-values {
    font-size: 1.5em;
    user-select: none;
    margin-top: 0.3em;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    margin-left: -0.6em;
    
    .scale-value {
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0.4em;
        border-left: 2px solid #6FCF97;
        overflow: hidden;
    }    
}

.sсale-values_numbers {
    
    .scale-value {
        border-left: 0;
        width: auto;
        display: inline-block;
        position: absolute;
        height: auto;
        text-align: center;
        position: absolute;
    }
    
    .end-value {
        right: 0 !important;
    }
    
}

.scale-values-parent-clone {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}