.y-scale {
    width: 0.5em;
    height: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3em;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: white;
}
