.x-range-scale-values {
    font-size: 1.5em;
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
    cursor: pointer;
    
    .medium-value {
        width: 2em;
        text-align: center;
    }

    .first-value {
        width: 2em;
        text-align: left;
    }

    .last-value {
        width: 2em;
        text-align: right;
    }
}
