include ../../components/inptNumber/inptNumber
include ../../components/sliderWithPanel/sliderWithPanel

doctype html
html
    head
        meta(charset="utf-8")
        title Slider
    body
        div(class="container")
            +sliderWithPanel(class="first-slider")
            +sliderWithPanel(class="second-slider")
            +sliderWithPanel(class="third-slider")
            +sliderWithPanel(class="fourth-slider")
    