doctype html
html
    head
        meta(charset="utf-8")
        title Slider
    body
        div(style="width: 80em; height: 35em; margin-left: 5em;")
            input(type="text" class="slider")
    