.diapason {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    background: #fff;
    border-radius: 3em;
}
