@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 20px;
    }    
}

@media screen and (max-width: 767px) {
    html {
        font-size: 15px;
    }
}

h1 {
    @extend %H1;
}

h2 {
    @extend %H2;
}

h3 {
    @extend %H3;
}

body {
    @extend %Body;
    overflow-x: hidden;
}
