.x-range-diapason {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    z-index: 100;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3em;
}

.yScale {
    .toxinRange {
        max-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
        position: absolute;
        z-index: 100;
    }
}
