mixin inptNumber
    div(class="inpt-number")
        .inpt-number__minus -
        input(class="inpt-number__inpt" type="number")&attributes(attributes)
        input(class="inpt-number__value" type="text" value="0")
        .inpt-number__plus +