.toxinScale {
    font-size: 0.625rem;
    margin-top: 20px;

    width: 26.6em;
    height: 0.5em;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.3em;
    display: flex;
    align-items: center;
}
