.x-runner {
    width: 5em;
    height: 5em;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}