.y-tip {
    font-size: 1.5em;
    margin-left: 1em;
    height: 1.5em;
    padding: 0 0.5em 0 0.5em;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.2em;
    user-select: none;
}